VITE_SUPABASE_URL=https://ofxabvsvuarwteazadrm.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9meGFidnN2dWFyd3RlYXphZHJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1NzQ2NzMsImV4cCI6MjA5OTE1MDY3M30.vmjAiZU_M1Wdsl-Fr0wm9XF8vt1KqV3UYkyyKcP1ang